In [1]:
#Soal 1

def cek_tuple(data):
    val = data[0]
    for i in data:
        if i == val:
            status = True
        else:
            status = False
            break

    return status

tA = (90,90,90,90)
print(cek_tuple(tA))

True

In [2]:
#Soal 2

def data_diri(data):
    for i in data:
        if i.isdigit():
            nim = i
        elif "," in i:
            alamat = i
        else:
            nama = i.split(" ")
            nama_depan = nama[0]
            nama.reverse()

    print(f"NIM: {tuple(nim)}")
    print(f"NAMA DEPAN: {tuple(nama_depan[1:])}")
    print(f"NAMA TERBALIK: {tuple(nama)}")


data = ('Matahari Bhakti Nendya', '22064091', 'Bantul, DI Yogyakarta')
data_diri(data)

NIM: ('2', '2', '0', '6', '4', '0', '9', '1')
NAMA DEPAN: ('a', 't', 'a', 'h', 'a', 'r', 'i')
NAMA TERBALIK: ('Nendya', 'Bhakti', 'Matahari')

In [3]:
# Soal 3

import re

nama_file = input("Enter a file name: ")
file = open(nama_file)

baca_file = file.read()

re_file = re.findall("From .+  \d+ (\d+):.+",baca_file)
re_file.sort()

dict_jam = dict()
for i in re_file:
    if i not in dict_jam:
        dict_jam[i] = 1
    else:
        dict_jam[i] += 1

for key in dict_jam:
    print(f"{key} {dict_jam[key]}")

file.close()

Enter a file name: mbox-short.txt
04 3
06 1
07 1
09 2
10 3
11 6
14 1
15 2
16 4
17 2
18 1
19 1